////
/// components/organisms/Guide.jsx styles
/// @author Lexus Drumgold
////

.ado-guide
  +flex(row, center, center)

  padding: size(60) 0

  > .ada-container
    > .ado-table
      width: 75%

      .ada-thead
        .ada-paragraph
          +respond-to($breakpoint-xxlarge, 18)

          font-size: size(16)

          span
            font-weight: 600
