////
/// components/atoms/Button.jsx styles
/// @author Lexus Drumgold
////

.ada-button
  +hocus
    font-weight: 600


  +set-bkg-color-and-hover($light)

  border: size(3) solid $accent-med
  border-radius: size(32)
  color: $dark
  font-size: size(12)
  font-weight: 400
  padding: size(13) size(36)
  text-transform: capitalize
